a {
  text-decoration: none;
}

.header {
  position: relative;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.burg-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .burg-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}
@media screen and (min-width: 768px) {
  .burg-menu {
    display: none;
  }
}

.burg-menu-container {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .burgeropen {
    display: block;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

.closeburgmenu {
  outline: none;
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--txt-col);
  width: 32px;
  height: 32px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: fill 250ms var(--timing-funcion);
  transition: fill 250ms var(--timing-funcion);
}

.burgmenu__navlist {
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .burgmenu__navlist {
    margin-top: 125px;
  }
}

@media screen and (max-width: 767px) {
  .burgmenu__navlink {
    margin-bottom: 28px;
  }
}
.burgmenu__navlink:hover {
  background-color: #4440F6;
}
.burgmenu__navlink:hover .burg__icon {
  border-color: #F4F4F4;
}

@media screen and (max-width: 767px) {
  .burgmenu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.burgmenu__link-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #111321;
}
.burgmenu__link-text:hover {
  color: #F4F4F4;
}

.burg__shevron {
  margin-left: auto;
}

.switch-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .switch-btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #ffffff;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: 0.6 solid #4b48db;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .dark .switch-btn {
    background: #4B48DB;
    border: 0.6 solid white;
  }
}
.switch-btn::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background: #4b48db;
  top: 1px;
  left: 0px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.dark .switch-btn::after {
  background: white;
  left: 21px;
}

.switch-on::after {
  left: 21px;
}

.switch-btn_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.switch-btn_choice_light {
  margin-right: 13px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24px;
  line-height: 89%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #4b48db;
}

.dark .switch-btn_choice_light {
  color: white;
}

.switch-btn_choice_dark {
  margin-left: 13px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24px;
  line-height: 89%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #4b48db;
}

.dark .switch-btn_choice_dark {
  color: #4440F7;
}

.switch-btn_choice_icon {
  width: 19px;
  height: 19px;
}

.switch-btn_choice_dark-icon {
  margin-left: 11px;
}

.dark .switch-btn_choice_dark-icon {
  stroke: #4B48DB;
}

.switch-btn_choice_light-icon {
  margin-right: 11px;
}

.switch-btn_choice_text {
  display: none;
}

@media screen and (min-width: 767px) {
  .switch-btn_choice_icon {
    display: block;
    margin-right: 11px;
  }
  .switch-btn_choice_text {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .switch-btn_choice_text {
    display: block;
  }
  .switch-btn_choice_icon {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .burg-menu .dark {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #2E2E2E;
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}
@media screen and (min-width: 768px) {
  .burg-menu .dark {
    display: none;
  }
}

.burgmenu__link-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #111321;
}
.burgmenu__link-text:hover {
  color: #F4F4F4;
}/*# sourceMappingURL=main.css.map */